@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


@font-face {
    font-family: "OpenSans";
    src: url("/fonts/static/OpenSans/OpenSans-Medium.ttf") format("woff2");
  }

  @font-face {
    font-family: "AbrilFatFace";
    src: url("/fonts/AbrilFatface-Regular.ttf") format("woff2");
  }

  @layer base {
    p {
      font-family: OpenSans, system-ui, sans-serif;
    }
    h1, h2, h3 {
        font-family: AbrilFatFace, serif
    }
  }



  